.env

# dev testing
repositories_000001.json
repositories

# dependencies
node_modules

# logs
gh-export.log

# build
esbuild
build
dist
dist/gh-repos-transfer-linux
dist/gh-repos-transfer-macos
dist/gh-repos-transfer-win.exe
